In [142]:
import re

import pandas as pd
import numpy as np
import os
import re

samples_path = 'Samples/'

In [143]:
# For each file in the Samples folder, read the file and save the mean, std, and correltaion for each column in a new pandas file:
master_df = pd.DataFrame(index=['A', 'B', 'C', 'D'])

for file in os.listdir(samples_path):
    df = pd.read_csv(samples_path + file)
    df = df.dropna()
    df = df.drop(columns=['Unnamed: 0'])
    data_list = [[],[],[],[]]
    for i, col in enumerate(df.columns):
        df[col] = df[col].astype(float)
        data_list[i] = [df[col].mean(), df[col].std()]
    #df2 = df.corr
    # Add the new calculated columns to the master dataframe and the data_list and correlation matrix and each column is A, B ,C, D:
    master_df[ str(file)[:-4]] = data_list
    #master_df[str(file) + ' Correlation'] = df2

In [144]:
master_df

,A-2_0,B0_0,C0_0,D0_0,data_200
A,"[-2.0, 0.0]","[1.165836868386904, 1.925735277506098]","[1.021513685154047, 1.557800587068807]","[1.0340032509531263, 2.1314803929404498]","[1.4333071145900511, 2.035669298671663]"
B,"[0.12870968157302273, 0.5545031659037266]","[0.0, 0.0]","[0.22022366717010786, 0.6312925350284297]","[0.19180562618549593, 0.6321214201294665]","[0.13245014657243537, 0.5907003984546545]"
C,"[0.1759685090859212, 1.094869908319967]","[0.24091212189603556, 1.1569088849327456]","[0.0, 0.0]","[0.19539205314004066, 1.1648769339842944]","[0.25645390792983097, 1.147384328594295]"
D,"[-1.5487096815730226, 0.7810793161035431]","[1.7708368683869042, 2.0413228669615195]","[1.4112900179839392, 1.8817082022745162]","[0.0, 0.0]","[1.8858569680176158, 2.179993117960907]"

In [141]:
master_df['A-1_0'].loc['A']

[-2.0, 0.0]