In [14]:
import pandas as pd
import numpy as np

In [47]:
data = pd.read_csv("Samples/data_200.csv",index_col=0)

In [48]:
data.mean()

A    1.433307
B    0.132450
C    0.256454
D    1.885857
dtype: float64

In [49]:
data.var()

A    4.143949
B    0.348927
C    1.316491
D    4.752370
dtype: float64

In [50]:
data.corr()

          A         B         C         D
A  1.000000 -0.035898  0.662025  0.901754
B -0.035898  1.000000  0.072492 -0.311661
C  0.662025  0.072492  1.000000  0.578180
D  0.901754 -0.311661  0.578180  1.000000

In [44]:
data_Am2 = pd.read_csv("Samples/A-2_0.csv",index_col=0)

In [46]:
data_Am2.mean()

A   -2.000000
B    0.128710
C    0.175969
D   -1.548710
dtype: float64